---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import type { PolymorphicProps } from "~/types";
import type { Slot } from "./FeatureDisplay.astro";

interface ImageProps extends ImageMetadata {
  alt: string;
}

interface CustomProps {
  /**
   * 配置するスロット
   * @see Slot
   * @default 要素の順番に従う
   */
  slot?: Slot;
  messageImages?: ImageProps[];
  displayImage: ImageProps;
}

type Props = PolymorphicProps<"div", CustomProps>;

const {
  as: Tag = "div",
  messageImages,
  displayImage,
  class: className,
  ...props
} = Astro.props;

/**
 * 配列の画像の高さを合計する関数
 * @param images 画像の配列
 * @returns 画像の高さの合計
 */
const calculateTotalImageHeight = (images: ImageProps[]): number => {
  let totalHeight = 0;
  for (let i = 0; i < images.length; i++) {
    totalHeight += images[i].height;
  }
  return totalHeight;
};

const dummyMessageHeight = calculateTotalImageHeight(messageImages ?? []);
---

<Tag
  class:list={[
    "inline-flex flex-row items-center justify-center gap-x-4 md:gap-x-6 p-4 md:p-6 bg-feature-box-image rounded-3xl",
    className,
  ]}
  {...props}
>
  <div class="grid gap-y-2">
    {
      messageImages?.map((image) => (
        <Image
          class="w-[clamp(100px,25vw,180px)] h-auto"
          src={image}
          width={image.width}
          height={image.height}
          alt={image.alt}
        />
      ))
    }
  </div>
  <div class="flex justify-center items-center">
    <Image
      class="w-[clamp(120px,30vw,220px)] h-auto"
      src={displayImage}
      width={displayImage.width}
      height={displayImage.height}
      alt={displayImage.alt}
    />
  </div>
</Tag>

<style>
  .bg-feature-box-image {
    background-image: url("/src/assets/bg-feature-box.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
